button {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.288);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  color: var(--second-color);
}

button.second-primary:hover {
  background-color: var(--second-color);
  color: white;
  border-color: var(--second-color);
}
