.data-deta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .data-deta {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .data-deta .record-filter {
    order: 1;
  }
}
