.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.623);
  overflow: auto;
  padding-bottom: 30px;
  z-index: 999;
}

.modal .modal-container {
  width: 700px;
  margin: auto;
}

/* Media Query For Model  */
@media (max-width: 767px) {
  .modal .modal-container {
    width: 95% !important;
  }
}

.modal .modal-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
  transition: 0.3s;
  z-index: 9999;
}

.modal.top .modal-content {
  animation: top 0.3s ease-in-out;
}

@keyframes top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal.center .modal-content {
  animation: center 0.3s ease-in-out;
}

@keyframes center {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(1);
    opacity: 1;
  }
}

.modal .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 13px;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.modal .modal-content .modal-header h3 {
  font-weight: normal;
}

.modal .modal-content .modal-header svg {
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}

.modal .modal-content .modal-body {
  padding: 0 10px 15px;
}

.modal .modal-body table {
  width: 100%;
}

.modal .modal-body form .input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;
}
