.password-form .input-form input {
  padding: 10px;
  margin: 12px 0;
}

.password-form .got-code span {
  width: fit-content;
  display: block;
  font-size: 15px;
  cursor: pointer;
  margin: 10px auto 5px;
}

.password-form button {
  margin: 10px 5px !important;
}
